[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
pylint = "*"
black = "*"
bandit = "*"
mypy = "*"
pydocstyle = "*"

[packages]
requests = "*"
colorama = "*"
ipify = {git = "https://github.com/gantree-io/python-ipify"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
