export GANTREE_NODE_WATCHDOG_HOSTNAME="https://gantree.io"
export GANTREE_NODE_WATCHDOG_API_KEY="a123bc45-1ab2-1234-1abc-a12345678910"
export GANTREE_NODE_WATCHDOG_PROJECT_ID="example-network"
export GANTREE_NODE_WATCHDOG_IP_ADDRESS="123.456.7.89"
export GANTREE_NODE_WATCHDOG_NODE_ID="energetic-orange-cat"
export GANTREE_NODE_WATCHDOG_NODE_SECRET="a123bc45-1ab2-1234-1abc-a12345678910"
